<section class='scaffold'>
  <h2 class="breadcrumbs">Properties</h2>

  <p>
    <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>New Property'.html_safe, new_property_path, class: "addButton" %>
  </p>

  <table class="scaffoldListTable">
    <thead>
      <tr>
        <th>Property name</th>
        <th>Property address</th>
        <th>Landlord first name</th>
        <th>Landlord last name</th>
        <th>Landlord email</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= link_to property.property_name, property %></td>
          <td>
            <pre><%= property.property_address %></pre>
          </td>
          <td><%= property.landlord_first_name %></td>
          <td><%= property.landlord_last_name %></td>
          <td><%= property.landlord_email %></td>
          <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_property_path(property), title: "Edit Property" %></td>
          <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, property, method: :delete, data: { confirm: "Are you sure want to delete #{property.property_name}?" }, title: "Delete Property" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>New Property'.html_safe, new_property_path, class: "addButton" %>
  </p> 
</section>